.widgetLg {
  flex: 2;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.widgetLgTitle {
  font-size: 20px;
  font-weight: 600;
}
.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
}
.widgetLgTh {
  text-align: left;
}
.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 400;
}
.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgDate,
.widgetLgGender,
.widgetLgClass {
  font-weight: 300;
}
.widgetLgName,
.widgetLgLt td {
  text-transform: capitalize;
}
