.userListEdit {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #5166e0;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.userListDelete-con {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 10px;

  cursor: pointer;
}

.userListDelete {
  color: rgb(235, 14, 14);
  cursor: pointer;
  font-size: 15px !important;
}

.searchInputs {
  display: flex;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 50%;

  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, 0.75);
}
.searchInputs input {
  background-color: white;
  border: 0;
  font-size: 15px;
  padding: 12px;

  width: 90%;
}

.searchIcon {
  height: 40px;
  width: 40px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 25px;
  fill: grey !important;
}
.right-con {
  display: flex;
}
.right-con Button {
  padding: 10px;
  border-radius: 5px;
  text-transform: none;
  margin-right: 10px;
}
.right-con a {
  text-decoration: none;
}
.exportButton {
  border-radius: 5px;
  border: 1px solid rgb(206, 203, 203);
}
.exportButton Button:hover {
  width: 100%;
}
