.widgetSm {
  flex: 1;

  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.widgetSmTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.gender-con {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.gender {
  width: 200px;
  border-radius: 8px;
  margin: 5px 10px;
  background-color: rgb(251, 251, 255);
  padding: 20px 30px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  text-align: center;
  justify-content: center;
}
.icon-val {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.gender h2 {
  font-size: 25px;
}
.gen-icon {
  font-size: 25px !important;
  color: blueviolet;
}
.vl {
  margin-top: 5px;
  border-left: 3px solid grey;
  height: 50px;
}

@media (max-width: 768px) {
  .widgetSm {
    flex: 1.4;
    padding: 10px;
    /* margin-right: 10px; */
  }
  .gender {
    margin: 1px 5px;
    padding: 20px 15px;
  }
  .gender h2 {
    font-size: 20px;
  }
  .gen-icon {
    font-size: 20px !important;
    color: blueviolet;
  }
}
