.userList {
  flex: 4;

  margin-top: 60rem;
  margin-bottom: 1.5rem;
  height: auto;
}
.mtable {
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;

  box-shadow: 0px 0px 12px -10px rgba(0, 0, 0, 0.75);
}
.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #5166e0;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: rgb(235, 14, 14);
  cursor: pointer;
}
