.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 5%;
  margin-bottom: 2.5rem;
}
.logo-con {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-con h4 {
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  color: #006eb6;
}

.logo img {
  width: 38px;
  height: 38px;
  padding-right: 0.5rem;
}
.navbar a {
  font-size: 1rem;
  color: #666;
  margin: 0 1rem;
  text-decoration: none;
}
.navbar a:hover {
  color: #006eb6;
}

.card {
  margin-top: 6rem;
  margin-bottom: 1.5rem;
}

.last-joined {
  display: flex;
  padding-bottom: 1rem;
}
